@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow: hidden;
}
*::selection {
    color: white;
    background: rgba(100, 116, 139, 0.5);
}
body .bg-fixed > .bg {
    --light-bg: #ffffff;
    background-position: top center;
    background-image: url(~/assets/image/background.png);
    background-attachment: fixed;
    background-color: var(--light-bg);
}


/* js 使用类，无内容  */
.nomi-context-menu-disable,
.nomi-context-menu-disable-any
{}